* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.menu-burger {
  position: absolute;
  right: -90px;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.menu-burger div {
  margin: 4px 0;
  width: 40px;
  height: 5px;
  background: white;
}

button {
  border: none;
}
body {
  background: #1f2e35;
}

#header {
  padding: 20px 0;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-left: 16px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 20px;
}

.btn {
  width: 102px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.btn-left {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}
.btn-right {
  border-radius: 4px;
  margin: 0 20px;
  background: #02897a;
}

#hero {
  padding: 60px 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1 {
  width: 488px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px; /* 150% */
}
.hero-text p {
  width: 360px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin: 18px 0 45px 0;
}
.btn-hero-left {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}
.btn-hero-right {
  color: #02897a;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
  background: transparent;
}

#product {
  padding: 60px 0;
  background: url(./img/bg-product.png) no-repeat center/cover;
  height: 50vh;
}
.pr-h1 {
  width: 539px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.product {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mouse {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background: #02897a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card h1 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0 13px 0;
}
.product-card p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.product-btn button {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.product-btn {
  display: flex;
  justify-content: center;
}

#management {
  padding: 170px 0;
}
.management {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.management-title h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 0 10px 0;
}
.management-title h1 {
  padding-bottom: 23px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.management-title p {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
#support {
  padding-bottom: 170px;
}

.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.support-title h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.support-title h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin: 8px 0 23px 0;
}

.support-title p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.title-icon {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.yellow,
.red,
.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
}
.yellow {
  background: #ff9900;
}
.red {
  background: #f03e3d;
}
.blue {
  background: #4d8dff;
}
.support-title span {
  color: white;
  font-size: 23px;
}
.title-icon p {
  margin-left: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

#process {
  background: url(./img/process-bg.png) no-repeat center/cover;
  height: 50vh;
  padding: 150px 0;
}
.process {
  text-align: center;
}
.process h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.process p {
  margin: 16px 0 46px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}
/* .header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.block-card {
  padding: 30px 0;
  display: flex;
  align-items: center;
}
.block-card-bg {
  position: relative;
  margin: 0 20px;
  width: 274px;
  height: 53px;
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}
.block-card-bg p {
  color: #2f281e;
  font-size: 16px;
  font-weight: 500;
}
.ball1,
.ball3 {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
.ball1 {
  position: absolute;
  left: 48px;
  bottom: -8px;
}
.ball2,
.ball4 {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}
.ball2 {
  position: absolute;
  left: 31px;
  bottom: -26px;
}
.ball3 {
  position: absolute;
  right: 31px;
  bottom: -9px;
}
.ball4 {
  position: absolute;
  right: 12px;
  bottom: -28px;
}
.process-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.process button {
  width: 216px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#content {
  padding: 150px 0;
}
.content h1 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}

.content p {
  padding: 8px 0 33px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.content-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-card {
  width: 348px;
  height: 350px;
  border-radius: 8px;
  background: #fff;
}
.content-card h5 {
  margin: 24px 0 0 24px;
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
}
.content-card h5 span {
  color: #22343d;
  font-size: 16px;
  font-weight: 700;
}
.content-card h2 {
  padding: 12px 30px 40px 24px;
  color: #22343d;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 348px;
  height: 350px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.content h3 {
  text-align: center;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}
.content h6 {
  text-align: center;
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.free {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.free-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 322.649px;
  height: 416px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.free-card h1 {
  color: #22343d;
  font-size: 24px;
  font-weight: 700;
}
.free-card p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0 10px 0;
}

.free-card h4 {
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 8px 0;
}

.free-card button {
  padding: 11px 19px 11px 18px;
  border-radius: 8px;
  background: #02897a;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 15px 0;
}
.free-card-price {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.free-card-price div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.free-card-price h2 {
  font-family: Poppins;
  margin-right: 10px;
  color: #02897a;
  font-size: 76px;
  font-weight: 900;
  letter-spacing: 0.2px;
}
.free-card-price div h6 {
  color: #02897a;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.free-card-price div h5 {
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
#about {
  padding: 170px 0;
}
.about h1 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
}
.about p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.about-main {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-card {
  padding: 28px;
  width: 280px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: #fff;
}
.about-card span {
  color: orange;
  font-size: 25px;
}

.about-card p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  text-align: left;
  margin: 16px 0;
}

.about-card-user {
  display: flex;
  align-items: center;
}
.about-card-user img {
  margin-right: 15px;
}
.about-card-user h4 {
  color: #02897a;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.about-card-user h5 {
  margin-top: 5px;
  color: #252b42;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
#join {
  padding-bottom: 100px 0;
}
.join {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-block {
  padding: 49px 51px;
  width: 968px;
  height: 345px;
  border-radius: 32px;
  background: #02897a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.join-block h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
}
.join-block button {
  border-radius: 8px;
  background: #fff;
  padding: 13px 35px 7px 33px;
  color: #02897a;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo span {
  color: #02897a;
  background: white;
  border-radius: 50%;
}
.nav_toggle {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 150ms ease-out;
  display: none;
  color: white;
}
.nav_toggle:hover {
  color: coral;
}

.swipe-menu {
  background-color: white;
  -webkit-box-shadow: 15px 2px 12px -4px rgba(0, 0, 0, 0.734);
  -moz-box-shadow: 15px 2px 12px -4px rgba(0, 0, 0, 0.784);
  box-shadow: 15px 2px 12px -4px rgba(0, 0, 0, 0.743);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 2;
  width: 320px;
  max-width: 100%;
  opacity: 0;
  left: -320px;
  visibility: hidden;
}
.swipe-menu--show {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.swipe-menu ~ .swipe-menu-overlay {
  width: 0;
}
.swipe-menu--show ~ .swipe-menu-overlay {
  width: 100%;
}
.swipe-menu-close {
  position: absolute;
  right: 30px;
  top: 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 40px;
  transition: opacity 100ms ease-out;
}
.swipe-menu-close:hover {
  opacity: 0.7;
}
.swipe-menu-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 190ms ease-out;
  background-color: rgba(0, 0, 0, 0.754);
}

.menu-link a {
  color: #b81f1f;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.menu-link {
  position: relative;
  top: 100px;
  left: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
